.jumbotron {
  overflow: hidden;
  text-align: center;
  background-color: #1B998B;
  color: white;
  background-repeat: no-repeat;
  /*opacity: .3;*/
  /*background-size: cover;*/
  /*max-height: 30%;*/
}

.jumbotron img {
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}

body {
  font-family: cambria;
  background-color: #012E36;
  color: #E84855;
}

.questions {
  padding: 4px;
}

.well {
  background-color: #1B998B;
  color: #012E36;
}

.addquestion {
  background-color: #1B998B;
  color: #012E36;
}

.unstyled {
  list-style: none;
}
