.jumbotron {
  overflow: hidden;
  text-align: center;
  background-color: #1B998B;
  color: white;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  /*max-height: 30%;*/
}

.jumbotron img {
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}

body {
  font-family: cambria;
  background-color: #2D3047;
  color: #E84855;
}

.questions {
  padding: 4px;
}

.well {
  background-color: #1B998B;
  color: #E84855;
}

.addquestion {
  color: #FF9B71;
}
