
{{update-question question=model update="update"}}
{{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}

<h2> answers </h2>
{{new-answer saveAnswer="saveAnswer" question=model}}
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>


<!-- had to change each question.answers to model.answers. -->
